<div class="rapp-form">
<%= simple_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<%= f.input :name %>
<%= f.input :date_begin %>
<%= f.input :date_end %>
<%= f.input :capacity %>
<%= f.input :equipment %>
<%= f.input :price %>
<%= f.input :commodities %>
<%= f.input :city %>
<%= f.input :location %>
<%= f.input :picture %>
<%= f.submit %>
<% end %>
</div>
