<h1><%= @event.name %></h1>
<p>Capacity : <%= @event.capacity %> | Equipments : <%= @event.equipment %> | Commodities : <%= @event.commodities %> | Price: <%= @event.price %>€</p>
<p>Location : <%= @event.location %></p>
<%= image_tag(@event.pictures) %>

