<h1>edit bands</h1>
<%= simple_form_for [@band] do |f| %>
<%= f.input :name %>
<%= f.button :submit %>
<%= f.input :name%>
<%= f.input :content%>
<%= f.input :pictures%>
<%= f.input :soundcloud%>
<%= f.input :location%>
<% end %>
