<div id="wrap-content">
  <div class="rapp-form">
    <%= simple_form_for [@band] do |f| %>
      <h2>Edit your band</h2>
      <%= f.input :name %>
      <%= f.input :content %>
      <%= f.input :pictures %>
      <%= f.input :soundcloud %>
      <%= f.input :location %>
      <%= f.button :submit %>
    <% end %>

  </div>
  <%= link_to band_path(@band), class: "breadcrumb" do %>
  <i class="fas fa-arrow-left"></i>
  Back to your band page
  <% end %>
</div>
