<div id="wrap-content">
  <div class="rapp-form">
    <%= simple_form_for [@band] do |f| %>
      <h2>Edit your band</h2>
      <%= f.input :name %>
      <%= f.input :content %>
      <%= f.input :pictures %>
      <%= f.input :soundcloud %>
      <%= f.input :location %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
