<div id="wrap-content">
  <div class="quarter-screen-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @band.pictures %>'); background-size: cover; background-position: center;">
    <h1 class="cover-image title"><%= @band.name %> </h1>
      <h2 class="cover-image subtitle"><%= @band.location.split(',').map(&:lstrip)[1].capitalize %></h2>
  </div>
  <div id="info-container">
    <div id="map-container">
    <iframe width="100%" height="49%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/<%= @band.soundcloud %>&color=%232a2a2a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <div id="map" class="half-page-right" data-markers="<%= @markers.to_json %>"></div>
    </div>
    <div id="content-container">
      <% if current_user && current_user.is_band && current_user.band.id == @band.id %>
          <div class="btn-container">
            <%= link_to edit_band_path(@band) do %>
              <span class="default-btn"><i class="far fa-edit"></i> Edit</span>
              <% end %>
            <%= link_to band_path, method: :delete, data: { confirm: "Do you want to delete this band ?"} do %>
            <span class="default-btn"><i class="far fa-trash-alt"></i> Delete</span>
            <% end %>
          </div>
      <% end %>
      <h3><%= @band.content %></h3>
    </div>
  </div>
  <i class="fas fa-arrow-left"></i>
  <%= link_to "Back to bands index", bands_path, class: "breadcrumb" %>
</div>

